xsd_files/OrderListRS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="http://www.iata.org/IATA/2015/00/2018.1/OrderListRS" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.iata.org/IATA/2015/00/2018.1/OrderListRS" elementFormDefault="qualified" version="6.000" id="IATA2018.1">
	<xs:include schemaLocation="edist_commontypes_for_AIDM.xsd"/>
	<xs:element name="OrderListRS">
		<xs:annotation>
			<xs:documentation>The OrderList transaction set retrieves a list of Orders that match one or more search criteria.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PayloadAttributes" type="IATA_PayloadStandardAttributesType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>IATA payload standard attributes.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="MessageDoc" type="MessageDocType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>NDC Message document information.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:choice>
					<xs:element name="Response" type="ResponseType">
						<xs:annotation>
							<xs:documentation>OrderList response information.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Error" type="ErrorType" maxOccurs="99">
						<xs:annotation>
							<xs:documentation>Error(s) that prevented message processing.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="AgencyTypeCodeContentType">
		<xs:annotation>
			<xs:documentation>Agency/ Agent Identification Type.
                {codeListAgencyName}PADIS{/codeListAgencyName}
                {codeListName}Identification type{/codeListName}
                {codeListIdentifier}9893{/codeListIdentifier}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OnlineTravelAgency"/>
			<xs:enumeration value="TravelAgency"/>
			<xs:enumeration value="TravelManagementCompany"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AgencyTypeCodeType">
		<xs:restriction base="AgencyTypeCodeContentType"/>
	</xs:simpleType>
	<xs:simpleType name="AirlineDesigCodeContentType">
		<xs:annotation>
			<xs:documentation>The codelist contents of IATA Resolution 762  airline codes, or of ICAO airline codes.
                {codeListAgencyName}IATA or ICAO{/codeListAgencyName}
                {codeListName}Resolution 762  Airline Codes or ICAO Airline Codes{/codeListName}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Z]{3}|[A-Z]{2})|([0-9][A-Z])|([A-Z][0-9])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AirlineDesigCodeType">
		<xs:restriction base="AirlineDesigCodeContentType"/>
	</xs:simpleType>
	<xs:simpleType name="BoardingGateID_Type">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeType">
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="DateTimeType">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<xs:simpleType name="DateType">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="IATA_StationCodeContentType">
		<xs:annotation>
			<xs:documentation>
                {codeListAgencyName}IATA{/codeListAgencyName}
                {codeListName}Location code{/codeListName}
                {enumerationURI}http://www.iata.org/publications/Pages/code-search.aspx{/enumerationURI}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="IATA_StationCodeType">
		<xs:restriction base="IATA_StationCodeContentType"/>
	</xs:simpleType>
	<xs:simpleType name="ID_Type">
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="IndType">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<xs:simpleType name="LangCodeContentType">
		<xs:annotation>
			<xs:documentation>
                {codeListAgencyName}ISO{/codeListAgencyName}
                {codeListName}Language Code{/codeListName}
                {codeListIdentifier}6392{/codeListIdentifier}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="LangCodeType">
		<xs:restriction base="LangCodeContentType"/>
	</xs:simpleType>
	<xs:simpleType name="NameType">
		<xs:restriction base="xs:token"/>
	</xs:simpleType>
	<xs:simpleType name="NumberType">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="OrderStatusCodeType">
		<xs:restriction base="OrderStatusContentType"/>
	</xs:simpleType>
	<xs:simpleType name="OrderStatusContentType">
		<xs:annotation>
			<xs:documentation>Indicates the current status of an Order
                {codeListAgencyName}PADIS{/codeListAgencyName}
                {codeListName}Form of payment identification{/codeListName}
                {codeListIdentifier}4405{/codeListIdentifier}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="ProperNameType">
		<xs:restriction base="xs:token">
			<xs:minLength value="1"/>
			<xs:maxLength value="64"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QtyType">
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="SeatCharacteristicsCodeContentType">
		<xs:annotation>
			<xs:documentation>Refers to aircraft seat characteristics; seat option codes.  Examples: E (EXIT ROW), M (Middle Seat), A (Aisle seat), L (Left side of aircraft), Q (Bulk Head).  Refer to PADIS code list 9825.
                {codeListAgencyName}PADIS{/codeListAgencyName}
                {codeListName}seat option codes{/codeListName}
                {codeListIdentifier}9825{/codeListIdentifier}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SeatRowCharacteristicsCodeContentType">
		<xs:annotation>
			<xs:documentation>Row characteristic. Examples: A (Extra Leg Room) B (Buffer Row) MV (Row With Movie Screen)  Encoding Scheme: IATA PADIS Code List for data element 9864 - Row Characteristic
                {codeListAgencyName}IATA{/codeListAgencyName}
                {codeListName}Row Characteristic{/codeListName}
                {codeListIdentifier}9864{/codeListIdentifier}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="SeatRowCharacteristicsCodeType">
		<xs:restriction base="SeatRowCharacteristicsCodeContentType"/>
	</xs:simpleType>
	<xs:simpleType name="TextType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="UniformResourceID_Type">
		<xs:restriction base="xs:anyURI"/>
	</xs:simpleType>
	<xs:complexType name="ArrivalType">
		<xs:annotation>
			<xs:documentation>Journey Arrival information related to the specified Order.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StationCode" type="IATA_StationCodeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Arrival station/airport.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrivalDate" type="DateType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Arrival date.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BoardingGateType">
		<xs:annotation>
			<xs:documentation>An exit/entry from an airport building to an aircraft. Could for example be a boarding gate, arrival gate, departing gate etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BoardingGateID" type="BoardingGateID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifier of the gate. E.g. “A5”.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CabinColumnType">
		<xs:annotation>
			<xs:documentation>Column within a Cabin used to identify Seats and Cabin Components within a Row.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ColumnID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifier of the column (e.g. A, B, C, etc.).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CharacteristicCode" type="SeatCharacteristicsCodeType" minOccurs="0" maxOccurs="99">
				<xs:annotation>
					<xs:documentation>Column characteristic/property code.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CarrierType">
		<xs:annotation>
			<xs:documentation>Includes the carrier issuing the ticket and all carriers that carry or undertake to carry the passenger and/or his baggage or to perform any other services related to such carriage.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AirlineDesigCode" type="AirlineDesigCodeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Airline code assigned to a carrier. Either ICAO-defined 3-character code or IATA-defined 2-character code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DuplicateDesigInd" type="IndType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates that the IATA Airline Designator is a duplicate code shared by multiple airlines. To identify the airline - in this case - its name must be specified in addition to the designator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Commercial name of the carrier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCodeContentType">
		<xs:annotation>
			<xs:documentation>The code list of ISO 3166 two-alpha Country Codes
                {codeListAgencyName}ISO{/codeListAgencyName}
                {codeListName}3166 two-alpha Country Codes{/codeListName}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountryCodeType">
		<xs:restriction base="CountryCodeContentType"/>
	</xs:simpleType>
	<xs:simpleType name="CountryDialingCodeContentType">
		<xs:annotation>
			<xs:documentation>Enumeration set for the Country Dialing Code BDT.
                {codeListAgencyName}ITU{/codeListAgencyName}
                {enumerationURI}ITU-T in standards E.123 and E.164{/enumerationURI}</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="CountryDialingCodeType">
		<xs:restriction base="CountryDialingCodeContentType"/>
	</xs:simpleType>
	<xs:complexType name="ContactInfoType">
		<xs:annotation>
			<xs:documentation>The electronic or geographic address which a party has provided as the contact channel. For example, contact email, contact postal address, contact phone number.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContactInfoID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies a set of Contact Information within the message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactTypeText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Classification for a particular set of contact information (e.g. Primary, Payment, etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IndividualRef" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to Individual instance(s)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactRefusedInd" type="IndType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>When TRUE, Passenger refused to provide Contact Information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Phone" type="PhoneType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>A telephone number is a sequence of digits assigned to a fixed-line telephone subscriber station connected to a telephone line or to a wireless electronic telephony device, such as a radio telephone or a mobile telephone, or to other devices for data tra</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherAddress" type="OtherAddressType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Other Contact Method information. E.g. web site URL, social media handle.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmailAddress" type="EmailAddressType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The email address which should be used for contact purposes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Individual" type="IndividualType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A single human being as distinct from a group, class, or family.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalAddress" type="PostalAddressType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Natural or physical address used for postal service. May be a building address, airport address, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DepType">
		<xs:annotation>
			<xs:documentation>Journey departure information related to the specified Order.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StationCode" type="IATA_StationCodeType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Departure station/airport.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepDate" type="DateType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Departure date.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EmailAddressType">
		<xs:annotation>
			<xs:documentation>The email address which should be used for contact purposes.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LabelText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Used to differentiate multiple email addresses of one contact.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmailAddressText" type="TextType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The email address which should be used for contact purposes.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorType">
		<xs:annotation>
			<xs:documentation>Contains information related to errors detected during processing of the preceding request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Code" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The code corresponding to the processing error as defined by PADIS 9321.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Free text description of the provided error.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LanguageCode" type="LangCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Language code associated with the error response.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerName" type="ProperNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the organization owning the error codelist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Document processing status.  Recommended values are NotProcessed, Incomplete, Complete, Unknown.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TagText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the tag/XPath which relates to the provided Error.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uses a bilaterally agreed set of values to indicate the error type.  The validating XSD can expect to accept values that it has not been explicitly coded for and process them by using Type = 'unknown'.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="URL" type="UniformResourceID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Link to an online description of the provided Error.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IATA_PayloadStandardAttributesType">
		<xs:annotation>
			<xs:documentation>(name changed by M.Thomas, 5-Jul-2016) The IATA_PayloadStdAttributes defines the standard attributes that appear on the root element for all IATA payloads.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EchoTokenText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A reference for additional message identification, assigned by the requesting host system. When a request message includes an echo token the corresponding response message MUST include an echo token with an identical value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Timestamp" type="DateTimeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates the creation date and time of the message in UTC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Version" type="NumberType" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>For all IATA versioned messages, the version of the message is indicated by a decimal value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrxID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A unique identifier to relate all messages within a transaction (e.g. this would be sent in all request and response messages that are part of an on-going transaction).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SeqNumber" type="NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Used to identify the sequence number of the transaction as assigned by the sending system; allows for an application to process messages in a certain order or to request a resynchronization of messages in the event that a system has been off-line and nee</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionStatusCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>This indicates where this message falls within a sequence of messages.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:token">
						<xs:enumeration value="Start">
							<xs:annotation>
								<xs:documentation xml:lang="en">This is the first message within a transaction.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="End">
							<xs:annotation>
								<xs:documentation xml:lang="en">This is the last message within a transaction.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="Rollback">
							<xs:annotation>
								<xs:documentation xml:lang="en">This indicates that all messages within the current transaction must be ignored.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="InSeries">
							<xs:annotation>
								<xs:documentation xml:lang="en">This is any message that is not the first or last message within a transaction.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="Continuation">
							<xs:annotation>
								<xs:documentation xml:lang="en">Specifies that this is a followup request asking for more of what was requested in the previous request.</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="Subsequent">
							<xs:annotation>
								<xs:documentation xml:lang="en">This request message is a subsequent request based on the previous message sent in this transaction.
</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrimaryLangID" type="xs:language" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifes the primary language preference for the message.  The human language is identified by ISO 639 codes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AltLangID" type="xs:language" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Identifies the alternate language for a customer or message. The human language is identified by ISO 639 codes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetransmissionIndicator" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>When true, indicates the message is being re-sent after a failure. It is recommended that this attribute is used (i.e., set to true) only when a message is retransmitted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CorrelationID" type="StringLength1to64" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Allow end-to-end correlation of log messages with the corresponding Web service message throughout the processing of the Web service message.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndividualType">
		<xs:annotation>
			<xs:documentation>A single human being as distinct from a group, class, or family.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IndividualID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely Identifies an Individual within the context of one message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GivenName" type="ProperNameType" minOccurs="0" maxOccurs="5">
				<xs:annotation>
					<xs:documentation>A personal name given to the individual at birth and used before a family name. Also called first name. E.g. JOHN.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MiddleName" type="ProperNameType" minOccurs="0" maxOccurs="3">
				<xs:annotation>
					<xs:documentation>Individual's middle name or initial.  E.g. G, GEORGE.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Surname" type="ProperNameType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Individual's hereditary name(s) common to all members of a family. Also known as family name or last name. E.g. SMITH. Excludes any potential suffix.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LoyaltyProgramType">
		<xs:annotation>
			<xs:documentation>A rewards program offered by a company to customers who frequently make purchases, which may give a customer advanced access to new products, special sales coupons or free merchandise.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProgramCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Loyalty Program ID: Example: MAM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProgramName" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Loyalty Program Name. Example: Miles and More</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProviderName" type="ProperNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name of the organization providing the Loyalty Program.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="URL" type="UniformResourceID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Loyalty Program information URL. Example: https://www.britishairways.com/en-gb/executive-club/about-the-club</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MatchedOrderType">
		<xs:annotation>
			<xs:documentation>List of Order IDs and order information which match the Filter Criteria specified in OrderListRQ.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrderRefID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference to an Order's Order ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderCreationDate" type="DateType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date at which the Order was created.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusCode" type="OrderStatusCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Current Order status. 
E.g. OK (Confirmed)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelAgency" type="TravelAgencyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A private retailer or public service that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Arrival" type="ArrivalType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Journey Arrival information related to the specified Order.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dep" type="DepType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Journey departure information related to the specified Order.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Paxs" type="PaxsType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Passenger and Group information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TicketingStatus" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Ticketing Status. Examples: Requested, Ticketed, Other</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="TicketDesigAppListType">
							<xs:attribute name="Context" type="ContextSimpleType" use="optional">
								<xs:annotation>
									<xs:documentation>Context.</xs:documentation>
								</xs:annotation>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageDocType">
		<xs:annotation>
			<xs:documentation>Message document information including document name and version number.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>NDC Implementation Name. Example: ThisAirline Gateway</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefVersionNumber" type="NumberType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>NDC Framework Version. Example: SOAP 2015.1</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OtherAddressType">
		<xs:annotation>
			<xs:documentation>Other Contact Method information. E.g. web site URL, social media handle.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LabelText" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Used to differentiate multiple Other Addresses of one contact.  (i.e. social media handle, website, etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherAddressText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Other Contact Method Value. Example: www.marketingsite.com</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrderListProcessingType">
		<xs:annotation>
			<xs:documentation>Placeholder for processing information.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="PaxGroupType">
		<xs:annotation>
			<xs:documentation>A number of individual passengers traveling under one commercial name that associates them. Passengers of a group have a homogenous itinerary, i.e. use the same segments. Group bookings are subject to special booking rules and may be eligible for special</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GroupID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies a Passenger Group.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="ProperNameType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Group name.  Example: ABC Tour Club</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntendedPaxQty" type="QtyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Intended number of passengers for this Group.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactInfo" type="ContactInfoType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Primary group contact information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaxsType">
		<xs:annotation>
			<xs:documentation>Passenger and Group information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Pax" type="PaxType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Any person except members of the crew carried or to be carried with the consent of the carrier, on board of any transport vehicle such as aircraft, train, bus, ship. Holds the attributes specific to a one booking, from shopping to f</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaxGroup" type="PaxGroupType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A number of individual passengers traveling under one commercial name that associates them. Passengers of a group have a homogenous itinerary, i.e. use the same segments. Group bookings are subject to special booking rules and may be eligible for special</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaxType">
		<xs:annotation>
			<xs:documentation>Any person except members of the crew carried or to be carried with the consent of the carrier, on board of any transport vehicle such as aircraft, train, bus, ship. Holds the attributes specific to a one booking, from shopping to f</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PaxID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies a Passenger within the context of one message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Individual" type="IndividualType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A single human being as distinct from a group, class, or family.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PhoneType">
		<xs:annotation>
			<xs:documentation>A telephone number is a sequence of digits assigned to a fixed-line telephone subscriber station connected to a telephone line or to a wireless electronic telephony device, such as a radio telephone or a mobile telephone, or to other devices for data tra</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LabelText" type="TextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Used to differentiate multiple Phone numbers of one contact.  Examples: Work, Home, Mobile</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryDialingCode" type="CountryDialingCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numeric telephone dialing prefixes for the member countries of the International Telecommunication Union (ITU).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AreaCodeNumber" type="NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone number area code.  Example: 813</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNumber" type="NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone number text. Examples: +1 999-999-9999 ext 1234,  617-9976 Note: This may be a simple, un-structured phone number, such as +01 999-999-9999 ext 1234 or combined with the additional attributes to create a structured phone number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtensionNumber" type="NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone extension number.  Example: 1234</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostalAddressType">
		<xs:annotation>
			<xs:documentation>Natural or physical address used for postal service. May be a building address, airport address, etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="LabelText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Used to differentiate multiple Postal Addresses of one contact.  Examples: AddressAtOrigin or AddressAtDestination</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StreetText" type="TextType" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Street name and number. Examples: Main Street, 100 Main Street</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BuildingRoomText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Additional address information including building name, room, apartment, or suite number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PO_BoxCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Post office box.  Example: P.O. Box 21</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Postal code. Examples: 11001, 11001-2345</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CityName" type="ProperNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name, expressed as text, of the city, town or village.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountrySubdivisionName" type="ProperNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name, expressed as text, of the subdivision of a country.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryName" type="ProperNameType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The name, expressed as text, of the country.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCode" type="CountryCodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ISO Country Code. Examples: US, FR.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResponseType">
		<xs:annotation>
			<xs:documentation>Payload information for OrderListRS.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MatchedOrder" type="MatchedOrderType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>List of Order IDs and order information which match the Filter Criteria specified in OrderListRQ.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderListProcessing" type="OrderListProcessType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Message processing information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Warning" type="WarningType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Contains information related to potential business errors detected during processing of the preceding request.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SeatCharacteristicsCodeType">
		<xs:annotation>
			<xs:documentation>Characteristics/properties which can be attributed to a seat or profile of seats.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
		<xs:attribute name="Content" type="SeatCharacteristicsCodeContentType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="SeatRowType">
		<xs:annotation>
			<xs:documentation>Row of seats located in a cabin compartment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RowNumber" type="NumberType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number assigned to a row in the aircraft, typically used to identify seat assignments.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CharacteristicsCode" type="SeatRowCharacteristicsCodeType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Information and characteristics applying to a row of Passenger Seats.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TerminalType">
		<xs:annotation>
			<xs:documentation>A departure and/or arrival building for aircraft, passengers or freight at a station for any transport mode.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TerminalName" type="NameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the terminal.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TravelAgencyType">
		<xs:annotation>
			<xs:documentation>A private retailer or public service that provides travel and tourism related services to the public on behalf of suppliers such as activities, airlines, car rentals, cruise lines, hotels, railways, travel insurance, and package tours.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AgencyID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unique Agency Seller ID. Example: CTRV</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IATA_Number" type="NumberType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>IATA-assigned agency number.  Example: 98417900</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="ProperNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agency name.  Example: Carson Travel</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PseudoCityID" type="ID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>An identifier for a corporate user of a computer reservation system (CRS) or global distribution system (GDS), typically a travel agency. Also known as Office ID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="AgencyTypeCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agency type code.  Examples TravelAgency, OnlineTravelAgency, or TravelManagementCompany.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TravelAgent" type="TravelAgentType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agent who solicits and procures business from potential customers on behalf of one or more principals, usually against payment of a percentage of the realized sales revenue as commission.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TravelAgentType">
		<xs:annotation>
			<xs:documentation>Agent who solicits and procures business from potential customers on behalf of one or more principals, usually against payment of a percentage of the realized sales revenue as commission.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TravelAgentID" type="ID_Type" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Booking and Servicing Agent information. ID. Example: 98417900 Note: The ID correlates to the specified ID Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="AgencyTypeCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agency/ Agent Identification Type. Example: 706 (IATA agency numeric code) Encoding Scheme: IATA Padis Codeset - List for data element 9893 (Identification Type, coded)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WarningType">
		<xs:annotation>
			<xs:documentation>Contains information related to potential business errors detected during processing of the preceding request.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Code" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The code corresponding to the processing warning as defined by PADIS 9321.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DescText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Free text description of the provided warning.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LanguageCode" type="LangCodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Language code associated with the warning response.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OwnerName" type="ProperNameType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The name of the organization owning the warning codelist.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Document processing status.  Recommended values are NotProcessed, Incomplete, Complete, Unknown.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TagText" type="TextType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the tag/XPath which relates to the provided Warning.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TypeCode" type="CodeType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uses a bilaterally agreed set of values to indicate the warning type.  The validating XSD can expect to accept values that it has not been explicitly coded for and process them by using Type = 'unknown'.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="URL" type="UniformResourceID_Type" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Link to an online description of the provided warning.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
